body {
    box-sizing: border-box;
}

.container {
    display: flex;
    border: 4px solid black;
    flex-wrap: wrap;
    width: 502px;
    height: auto;
}

.cell {
    border: 1px dotted black;
    height: 30px;
    width: 30px;
    flex: 0 0 auto;
}

.cell:hover {

}